<main class='home'>
  <section class='welcome'>
    <% if current_user %>
      <%= link_to "Go to my account", user_path(current_user), class: 'welcome-button' %>
    <% else %>
      <h4>Log in with Google to try it out!</h4>
      <%= link_to "Get Started", "/auth/google_oauth2", class: 'welcome-button' %>
    <% end %>
  </section>

  <section class='image'>
    <p>Is it thy will, this email to keep open</p> 
    <p>my heavy eyes into the weary night?</p>
    <p>Dost thou desire my slumbers should be broken</p>
    <p>while responses yet unwritten mock my sight?</p>
    <p>Is it mean spirit thou send’st a’night to me </p>
    <p>so far from here into my deeds to pry?</p>
    <p>I plan out calls and idle hours for thee</p>
    <p>and scope out timings for our busy trials.</p>
    <p>Alas emails, though long, are not so great,</p>
    <p>but give me rage that doth my rest defeat</p>
    <p>and mount such hate that keeps me up too late.</p>
    <p>I play digital scribe, deadlines to meet;</p>
    <p>Lie sleepless here and without sleep to come,</p>
    <p>email bounding in and making my mind numb.</p>
  
    <p>--Amy Kintner and William Shakespeare</p>
  </section>
</main>
