.form
  width: 70%
  margin: auto
  
  label
    font-size: 17px
    margin-top: 10px

  input
    color: white
    font-size: 17px
    width: 100%
    padding: 10px
    border: none
    background-color: $med-grey
    border-radius: 12px

  input[type=text]:focus
    outline: none
    background-color: $light-grey
    color: $dark-grey

  input[type=submit]
    color: white
    font-size: 17px
    background-color: $teal
    padding: 7px 
    width: 30%
    padding: 10px
    margin: 10px auto
    transition: .2s
  input[type=submit]:hover
    background-color: $dark-teal
