.rehearsal-show
  display: flex
  flex-direction: row
  align-content: center

  .rehearsal-info
    text-align: center
    max-width: 30%
    img
      max-width: 100%
    p
      padding: 10px

  .notes-column
    margin-left: 20%
